<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <!-- Llamado a la pagina -->
      <ion-icon name="infinite-sharp"></ion-icon>
      <ion-label>INICIO</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nudo">
      <ion-icon name="body"></ion-icon>
      <ion-label>NUDO</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="desenlace" href="/desenlace">
      <ion-icon name="calendar-number"></ion-icon>
      <ion-label>DESENLACE</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>